<%- include('../user/header') %>

<link rel="stylesheet" href="/style1.css">

<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#">Home</a></li>
          <li><a class="getstarted scrollto" href="/admin/dashboard">Dashboard</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Welcome, <%= user.fname+" "+user.sname %></h1>
          <table>
            <tr>
                <td>Name</td>
                <td><%= user.fname+" "+user.sname %></td>
            </tr>

            <tr>
                <td>Email</td>
                <td><%= user.email %></td>
            </tr>
        </table>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="/admin/logout" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Logout</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/assets/features-3.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>


  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>


<%- include('../user/footer') %>


<!-- <h1>Welcome, <%= user.fname+user.sname %></h1>

<a href="/admin/dashboard">Dashboard</a>

<table>
    <tr>
        <td>Name</td>
        <td><%= user.fname+user.sname %></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><%= user.email %></td>
    </tr>
</table>




<br>
<a href="/admin/logout">logout</a> -->
